[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "Momocs"]
	path = Momocs
	url = https://github.com/momx/momocs
	shallow = true
	registered = true
